  /*Mobile screens*/
  @media only screen and (max-width: 799px) {
      * {
          box-sizing: border-box;
      }

      html {
          font-size: 22px;
          font-family: sans-serif;
      }

      /*general styleing*/

      body {
          background-color: hsla(240, 5%, 72%, 0.767);
      }

      h1 {
          font-size: 2.222rem;
      }

      h2 {
          font-size: 1.777rem;
          font-style: italic;
      }

      h3 {
          font-size: 1.444rem;
      }

      p {
          font-size: 1rem;
      }

      /*index page css*/

      .index-body {
          background-color: hsla(240, 15%, 92%, 0.938);
      }

      /*index css*/
      /*navigation style*/
      /* navigation button*/

      .box13 {
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          background-color: hsla(260, 0%, 0%, 1);
          width: 6.666rem;
          margin: 0.555rem auto 0.555rem auto;
          padding: 0.555rem;
          text-align: center;
      }

      .box13 a {
          color: hsla(240, 5%, 72%, 0.767);
          text-decoration: none;
      }

      .box13 a:hover {
          text-decoration: underline;
      }

      /*index page css*/
      /*Hello World header*/

      .header1 {
          font-family: 'permanent marker';
          font-size: 2.666rem;
          text-align: center;
      }

      /*index page css*/
      /*grid layout*/

      .continer-index {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: repeat(12, 25rem);
      }

      .box1 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          background-image: url("assets/hello.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box2 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/spanner.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box3 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;
          background-image: url("assets/depressed.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box4 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;
          background-image: url("assets/talking1.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box5 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 5;
          grid-row-end: 6;
          background-image: url("assets/autism.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box6 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 6;
          grid-row-end: 7;
          background-image: url("assets/talking2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box7 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 7;
          grid-row-end: 8;
          background-image: url("assets/brain.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box8 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 8;
          grid-row-end: 9;
          background-image: url("assets/kapow.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box9 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 9;
          grid-row-end: 10;
          background-image: url("assets/anger.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box10 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 10;
          grid-row-end: 11;
          background-image: url("assets/idea.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box11 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 11;
          grid-row-end: 12;
          background-image: url("assets/computer.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box12 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 12;
          grid-row-end: 13;
          background-image: url("assets/happy.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .text {
          text-align: center;
          font-family: 'permanent marker';
          padding: 0.555rem;
          background-color: hsla(240, 15%, 92%, 0.4);
          position: absolute;
          bottom: 5%;
          margin: 0.27rem;
          padding: 0.27rem 0.27rem;
      }

      /* resume css*/
      /*all h2 headings except summary heading*/

      .box-c {
          color: hsla(240, 5%, 72%, 0.767);
          background-color: hsla(260, 0%, 0%, 1);
          width: 98%;
          text-decoration: underline;
          padding: 0.555rem 0.555rem;
          margin: auto;
          font-family: "Satisfy";
      }

      /*resume page css*/
      /*grid layout*/

      .continer {
          display: grid;
          width: 96%;
          height: auto;
          grid-template-columns: 1fr 3fr 1fr;
          grid-template-rows: 4.777rem 45rem auto auto auto;
          margin: auto;
          row-gap: 0.277rem;
      }

      .header {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          background-color: hsla(260, 0%, 0%, 1);
      }

      .profile {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/monkey2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
          margin: auto;
      }

      .key-skills {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
      }

      .experiance {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 5;
          background-color: #ffffff;
          padding: 0.555rem;
      }

      .quilifications {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 5;
          grid-row-end: 6;
      }

      /*resume css*/
      /*header and navigation styleing*/

      .box-a {
          font-family: "Satisfy";
          float: left;
          color: hsla(240, 5%, 72%, 0.767);
          padding-left: 0.555rem;
      }

      /*laptop and desktop nav*/

      .nav {
          display: none;
      }

      /*mobil navigation drop down menu*/

      .mobile-nav {
          display: initial;
          float: right;
          position: relative;
          margin-right: 1.111rem;
      }

      .mobile-nav button {
          border: 1px solid #ffffff;
          color: hsla(260, 0%, 0%, 1);
          font-size: 1.2rem;
          background-color: hsla(240, 15%, 92%, 1);
          width: 5.555rem;
          height: 2.777rem;
          margin-top: 1.111rem;
      }

      .mobile-nav button:hover {
          text-decoration: underline;
      }

      #dropDownNav {
          display: none;
          position: absolute;
          top: 100%;
          right: 10%;

      }

      #dropDownNav li {
          list-style: none;
          text-align: center;
          font-size: 1rem;
      }

      #dropDownNav ul {
          background-color: hsla(260, 0%, 0%, 1);
          padding: 0.277rem;
          width: 10rem;
      }

      #dropDownNav a {
          color: hsla(240, 5%, 72%, 0.767);
          text-decoration: none;
          font-size: 1.5rem;
      }

      #dropDownNav a:hover {
          text-decoration: underline;
      }

      /*resume css*/
      /*summary styleing*/

      .box-b {
          background-color: hsla(260, 0%, 0%, 0.6);
          height: 40%;
          width: 100%;
          text-align: center;
          color: hsla(240, 5%, 72%, 0.767);
          position: relative;
          top: 40%;
          padding-top: 0.555rem;
          padding-bottom: 0.555rem;
      }

      #hide {
          display: none;
      }

      #myBtn {
          background-color: hsla(260, 0%, 0%, 1);
          color: hsla(240, 5%, 72%, 0.767);
          font-size: 1rem;
          text-align: center;
          width: 10rem;
          font-size: 1.5rem;
      }

      .readButton {
          width: 11rem;
          margin: 0.555rem auto 0.555rem auto;
      }


      /*resume css*/
      /*education section*/

      .table {
          width: 80%;
          background-color: #ffffff;
          margin: 0.555rem auto 0.555rem auto;
      }

      .table th {
          text-decoration: underline;
          text-align: left;
      }

      .table td {
          border-bottom: 0.055rem solid hsla(260, 0%, 0%, 1);
          font-size: 1.2rem;
      }

  }

  /*tablet screens*/
  @media only screen and (min-width: 800px) {
      /*html sizing*/

      * {
          box-sizing: border-box;
      }

      html {
          font-size: 20px;
          font-family: sans-serif;
      }

      /*general styleing*/

      body {
          background-color: hsla(240, 5%, 72%, 0.767);
      }

      h1 {
          font-size: 2.222rem;
      }

      h2 {
          font-size: 1.777rem;
          font-style: italic;
      }

      h3 {
          font-size: 1.444rem;
      }

      p {
          font-size: 1rem;
      }

      /*index page css*/

      .index-body {
          background-color: hsla(240, 15%, 92%, 0.938);
      }

      /*index css*/
      /*navigation style*/
      /* navigation button*/

      .box13 {
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          background-color: hsla(260, 0%, 0%, 1);
          width: 6.666rem;
          margin: 0.555rem auto 0.555rem auto;
          padding: 0.555rem;
          text-align: center;
      }

      .box13 a {
          color: hsla(240, 5%, 72%, 0.767);
          text-decoration: none;
      }

      .box13 a:hover {
          text-decoration: underline;
      }

      /*index page css*/
      /*Hello World header*/

      .header1 {
          font-family: 'permanent marker';
          font-size: 2.666rem;
          text-align: center;
      }

      /*index page css*/
      /*grid layout*/

      .continer-index {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: repeat(6, 25rem);
      }

      .box1 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          background-image: url("assets/hello.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box2 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          background-image: url("assets/spanner.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box3 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/depressed.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box4 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/talking1.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box5 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;
          background-image: url("assets/autism.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box6 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          background-image: url("assets/talking2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box7 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;
          background-image: url("assets/brain.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box8 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 5;
          background-image: url("assets/kapow.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box9 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 5;
          grid-row-end: 6;
          background-image: url("assets/anger.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box10 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 5;
          grid-row-end: 6;
          background-image: url("assets/idea.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box11 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 6;
          grid-row-end: 7;
          background-image: url("assets/computer.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box12 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 6;
          grid-row-end: 7;
          background-image: url("assets/happy.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .text {
          text-align: center;
          font-family: 'permanent marker';
          padding: 0.555rem;
          background-color: hsla(240, 15%, 92%, 0.4);
          position: absolute;
          bottom: 5%;
          margin: 0.27rem;
          padding: 0.27rem 0.27rem;
      }

      /* resume css*/
      /*all h2 headings except summary heading*/

      .box-c {
          color: hsla(240, 5%, 72%, 0.767);
          background-color: hsla(260, 0%, 0%, 1);
          width: 98%;
          text-decoration: underline;
          padding: 0.555rem 0.555rem;
          margin: auto;
          font-family: "Satisfy";
      }

      /*resume page css*/
      /*grid layout*/

      .continer {
          display: grid;
          width: 96%;
          height: auto;
          grid-template-columns: 1fr 3fr 1fr;
          grid-template-rows: 4.777rem 45rem auto auto auto;
          margin: auto;
          row-gap: 0.277rem;
      }

      .header {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          background-color: hsla(260, 0%, 0%, 1);
      }

      .profile {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/monkey2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
          margin: auto;
      }

      .key-skills {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
      }

      .experiance {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 5;
          background-color: #ffffff;
          padding: 0.555rem;
      }

      .quilifications {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 5;
          grid-row-end: 6;
      }

      /*resume css*/
      /*header and navigation styleing*/

      .box-a {
          font-family: "Satisfy";
          float: left;
          color: hsla(240, 5%, 72%, 0.767);
          padding-left: 0.555rem;
      }

      /*laptop and desktop nav*/

      .nav {
          display: none;
      }

      /*mobil navigation drop down menu*/

      .mobile-nav {
          display: initial;
          float: right;
          position: relative;
          margin-right: 1.111rem;
      }

      .mobile-nav button {
          border: 1px solid #ffffff;
          color: hsla(260, 0%, 0%, 1);
          font-size: 1.2rem;
          background-color: hsla(240, 15%, 92%, 1);
          width: 5.555rem;
          height: 2.777rem;
          margin-top: 1.111rem;
      }

      .mobile-nav button:hover {
          text-decoration: underline;
      }

      #dropDownNav {
          display: none;
          position: absolute;
          top: 100%;
          right: 10%;

      }

      #dropDownNav li {
          list-style: none;
          text-align: center;
      }

      #dropDownNav ul {
          background-color: hsla(260, 0%, 0%, 1);
          padding: 0.277rem;
          width: 10rem;
      }

      #dropDownNav a {
          color: hsla(240, 5%, 72%, 0.767);
          text-decoration: none;
          font-size: 1rem;
      }

      #dropDownNav a:hover {
          text-decoration: underline;
      }

      /*resume css*/
      /*summary styleing*/

      .box-b {
          background-color: hsla(260, 0%, 0%, 0.6);
          height: 40%;
          width: 100%;
          text-align: center;
          color: hsla(240, 5%, 72%, 0.767);
          position: relative;
          top: 40%;
          padding-top: 0.555rem;
          padding-bottom: 0.555rem;
      }

      .box-b p {
          font-size: 1rem;
      }

      #hide {
          display: none;
      }

      #myBtn {
          background-color: hsla(260, 0%, 0%, 1);
          color: hsla(240, 5%, 72%, 0.767);
          font-size: 1.2rem;
          text-align: center;
          width: 10rem;
      }

      .readButton {
          width: 11rem;
          margin: 0.555rem auto 0.555rem auto;
      }


      /*resume css*/
      /*education section*/

      .table {
          width: 80%;
          background-color: #ffffff;
          margin: 0.555rem auto 0.555rem auto;
      }

      .table th {
          text-decoration: underline;
          text-align: left;
      }

      .table td {
          border-bottom: 0.055rem solid hsla(260, 0%, 0%, 1);
          font-size: 1.2rem;
      }
  }

  /*Desktop screens*/
  @media only screen and (min-width: 1200px) {
      /*html sizing*/

      * {
          box-sizing: border-box;
      }

      html {
          font-size: 18px;
          font-family: sans-serif;
      }

      /*general styleing*/

      body {
          background-color: hsla(240, 5%, 72%, 0.767);
      }

      h1 {
          font-size: 2.222rem;
      }

      h2 {
          font-size: 1.777rem;
          font-style: italic;
      }

      h3 {
          font-size: 1.444rem;
      }

      p {
          font-size: 1rem;
      }

      /*index page css*/

      .index-body {
          background-color: hsla(240, 15%, 92%, 0.938);
      }

      /*index css*/
      /*navigation style*/
      /* navigation button*/

      .box13 {
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          background-color: hsla(260, 0%, 0%, 1);
          width: 6.666rem;
          margin: 0.555rem auto 0.555rem auto;
          padding: 0.555rem;
          text-align: center;
      }

      .box13 a {
          color: hsla(240, 5%, 72%, 0.767);
          text-decoration: none;
      }

      .box13 a:hover {
          text-decoration: underline;
      }

      /*index page css*/
      /*Hello World header*/

      .header1 {
          font-family: 'permanent marker';
          font-size: 2.666rem;
          text-align: center;
      }

      /*index page css*/
      /*grid layout*/

      .continer-index {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: repeat(4, 25rem);
      }

      .box1 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
          background-image: url("assets/hello.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box2 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          background-image: url("assets/spanner.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box3 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          background-image: url("assets/depressed.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box4 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/talking1.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box5 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/autism.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box6 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/talking2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box7 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 3;
          grid-row-end: 4;
          background-image: url("assets/brain.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box8 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          background-image: url("assets/kapow.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box9 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
          background-image: url("assets/anger.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box10 {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;
          background-image: url("assets/idea.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box11 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 5;
          background-image: url("assets/computer.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .box12 {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 5;
          background-image: url("assets/happy.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border: 0.055rem solid hsla(260, 0%, 0%, 1);
          position: relative;
      }

      .text {
          text-align: center;
          font-family: 'permanent marker';
          padding: 0.555rem;
          background-color: hsla(240, 15%, 92%, 0.4);
          position: absolute;
          bottom: 5%;
          margin: 0.27rem;
          padding: 0.27rem 0.27rem;
      }

      /* resume css*/
      /*all h2 headings except summary heading*/

      .box-c {
          color: hsla(240, 5%, 72%, 0.767);
          background-color: hsla(260, 0%, 0%, 1);
          width: 98%;
          text-decoration: underline;
          padding: 0.555rem 0.555rem;
          margin: auto;
          font-family: "Satisfy";
      }

      /*resume page css*/
      /*grid layout*/

      .continer {
          display: grid;
          width: 96%;
          height: auto;
          grid-template-columns: 1fr 3fr 1fr;
          grid-template-rows: 4.777rem 45rem auto auto auto;
          margin: auto;
          row-gap: 0.277rem;
      }

      .header {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 2;
          background-color: hsla(260, 0%, 0%, 1);
      }

      .profile {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 2;
          grid-row-end: 3;
          background-image: url("assets/monkey2.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100%;
          margin: auto;
      }

      .key-skills {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 3;
          grid-row-end: 4;
      }

      .experiance {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 4;
          grid-row-end: 5;
          background-color: #ffffff;
          padding: 0.555rem;
      }

      .quilifications {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 5;
          grid-row-end: 6;
      }

      /*resume css*/
      /*header and navigation styleing*/

      .box-a {
          font-family: "Satisfy";
          float: left;
          color: hsla(240, 5%, 72%, 0.767);
          padding-left: 0.555rem;
      }

      /*laptop and desktop nav*/

      .nav {
          display: initial;
          float: right;
          padding-top: 0.888rem;
          padding-right: 0.555rem;
      }

      .nav li {
          display: inline;
          list-style: none;
          margin-right: 0.555rem;
      }

      nav a {
          color: hsla(240, 5%, 72%, 0.767);
          text-decoration: none;
      }

      .nav a:hover {
          text-decoration: underline;
      }

      /*mobil navigation drop down menu*/

      .mobile-nav {
          display: none;
      }

      /*resume css*/
      /*summary styleing*/

      .box-b {
          background-color: hsla(260, 0%, 0%, 0.6);
          height: 40%;
          width: 100%;
          text-align: center;
          color: hsla(240, 5%, 72%, 0.767);
          position: relative;
          top: 40%;
          padding-top: 0.555rem;
          padding-bottom: 0.555rem;
      }

      #hide {
          display: none;
      }

      #myBtn {
          background-color: hsla(260, 0%, 0%, 1);
          color: hsla(240, 5%, 72%, 0.767);
          font-size: 1.5rem;
          text-align: center;
          width: 200px;
      }

      .readButton {
          width: 11rem;
          margin: 0.555rem auto 0.555rem auto;
      }


      /*resume css*/
      /*education section*/

      .table {
          width: 80%;
          background-color: #ffffff;
          margin: 0.555rem auto 0.555rem auto;
      }

      .table th {
          text-decoration: underline;
          text-align: left;
      }

      .table td {
          border-bottom: 0.055rem solid hsla(260, 0%, 0%, 1);
          font-size: 1rem;
      }

  }